body {
  background-color: whitesmoke;
}

h3 {
  text-align: center;
}

.todo-app {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}